<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <title>{% block title %}{% endblock %}knuspermagier.de</title>

    <link rel="icon" href="/theme/img/favicon.ico" type="image/icon"/>

    <link rel="stylesheet" href="{{ '/theme/css/style.css' | bust }}">
    <link rel="alternate" type="application/rss+xml" title="knuspermagier.de RSS Feed"
          href="https://knuspermagier.de/feed"/>

    <link rel="manifest" href="/manifest.json">
    <meta name="description" content="Der private Blog von Philipp Waldhauer">

</head>
<body>


<header>
    <div class="header-logo">
        <a href="/"><img src="/theme/img/knuspermagier.svg" alt="knuspermagier.de"></a>
    </div>
</header>

<main class="content {%if isSingle %}content-single{%endif%}">
    {% block content %}{% endblock %}
</main>

<div class="random-footer" data-controller="footer" data-target="footer.footer"></div>

<div class="search">
    <input data-controller="search" data-target="search.input" class="search-input" type="text" placeholder="Suchst du etwas?" aria-label="Suche">
</div>


<footer class="footer">
    <a href="/philipp-waldhauer">Philipp Waldhauer</a> &middot;
    <a href="/impressum">Impressum &amp; Datenschutz</a>
</footer>


<script src="{{ '/theme/js/main.js' | bust }}"></script>


<style>
    {{ randomFooter() | raw }}
</style>


</body>
</html>